body{
    font-family:monospace;

}
h1{
    text-align: center;
}
p{
    text-align: center;
}

ul{
    font-family:monospace;
}
.nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: grey;
}
.nav ul li{
        float: left;
        display: flex;
}
.nav ul li a{
        display: block;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        color: white;
}
.nav ul li a:hover{
    background-color: #111111;
}
.dropdown{
    display:flex;
    justify-content: center;
    align-items: center;
}
.button-center{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}
.button-center a{
    text-decoration: none;
}
.button{

    display: flex;
    padding: 10px 10px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 250px;
    height: 150px;
    
}
.button:hover{
    background-color: #e0b9b9;
    
}
.recipe{
background-color: bisque;
}
.store{
background-color: aliceblue;
}
.lore{
    
    background-color: azure;
}
.return{
display: flex;
align-items: center;
justify-content: center;
}