body{
    font-family:monospace;

}
h1{
    text-align: center;
}
p{
    text-align: center;
}

ul{
    font-family:monospace;
}
.nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: grey;
}
.nav ul li{
        float: left;
        display: flex;
}
.nav ul li a{
        display: block;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        color: white;
}
.nav ul li a:hover{
    background-color: #111111;
}
.dropdown{
    display:flex;
    justify-content: center;
    align-items: center;
}