body{
    font-family:monospace;
}
ul{
    font-family:monospace;
}
.buttonFederal{
    color: var(--btnFontColor);
    background-color: var(--btnBg);

    position:absolute;
    top: 100px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.buttonReligous{
    position:absolute;
    top: 100px;
    left: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
